/*Стили для редактора кода*/

.CodeMirror {
    width: 355px;
    min-width: 355px;
    min-height: calc(100vh - 130px);
    background: #311F46;
    color: white;
    padding: 0 10px 5px 0;
    outline: #74217D;
    border: 2px solid #74217D;
    border-radius: 5px;
    font-size: 15px;
    font-weight: normal;
    font-family: 'Courier New', monospace;
}

/*Ключевые слова в коде*/
.cm-custom-keyword {
    color: #ab01be;
    font-weight: bold;
}
/*Комментарии в коде*/
.cm-custom-comment {
    color: #8f8f8f;
    font-weight: bold;
}
/*Числа в коде*/
.cm-custom-digit {
    color: #ffbb78;
}

/*Панель номеров строк*/
.CodeMirror-gutters {
    background-color: #482D65;
    border-right: 1px solid #482D65;
}

/*Цвет номеров строк*/
.CodeMirror-linenumber {
    color: white;
}

/* Цвет выделения без фокуса*/
.CodeMirror-selected {
    background: #482D65;
}

/* Цвет выделения в фокусе */
.CodeMirror-focused .CodeMirror-selected {
    background: #482D65;
}

/* Цвет указателя курсора к поле текста */
.CodeMirror-cursor {
     border-left: 2px solid #9702a7;
}