header {
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-image {
    width: 150px;
    padding: 10px;
}

.page_title {
    font-family: 'PT Sans', serif;
    font-size: 23px;
    font-weight: normal;
    color: #311F46;
    margin: 20px;
}

body {
    margin: 0;
}

.menu_button {
    padding: 10px;
    background: transparent;
    border: none;
}

.menu_list {
    top: 50px;
    right: 5px;
    position: absolute;
    display: none;
    vertical-align: top;
    width: max-content;
    background: #482D65;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px 25px 10px 10px;
    text-align: left;
}

.menu_list a {
    font-family: 'PT Sans', serif;
    font-size: 18px;
    margin: 0 5px;
    height: 100px;
    color: white;
    text-decoration: none;
}

.ref_menu a {
    font-family: 'PT Sans', serif;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    color: #9702A7;
    margin: auto 10px;
}

.div-main {
    width: max-content;
    text-align: center;
    display: block; /*Выравнивание по горизонтали */
    margin: 150px auto 60px;
}

.div-horizontal {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.div-vertical {
    display: table-cell;
    vertical-align: top;
    horiz-align: center;
}

.form div {
    margin: 20px;
}

.input-submit {
    font-family: 'PT Sans', serif;
    font-size: 18px;
    font-weight: normal;
    margin: 25px 0 5px;
    color: #ffffff;
    background: #9702A7;
    border: none;
    border-radius: 5px;
    width: 280px;
    text-decoration: none;
    padding: 10px
}

.input-text {
    font-family: 'PT Sans', serif;
    font-size: 18px;
    font-weight: normal;
    margin: 0 10px;
    padding: 10px 15px;
    outline: #74217D;
    color: #311F46;
    border: 2px solid #74217D;
    border-radius: 5px;
    width: 250px;
}

.input-number {
    font-family: 'PT Sans', serif;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    margin: 10px;
    padding: 10px 15px;
    border: 2px solid #74217D;
    outline: #74217D;
    color: #311F46;
    border-radius: 5px;
    width: 250px;
}

/*поле ввода чисел без стрелочек ввех и вниз*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=file]::file-selector-button {
    font-family: 'PT Sans', serif;
    font-size: 15px;
    font-weight: normal;
    margin: 10px 10px 20px;
    padding: 10px;
    color: #ffffff;
    background: #9702A7;
    border: none;
    border-radius: 5px;
    horiz-align: left;
}

.button1 {
    font-family: 'PT Sans', serif;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    color: #9702A7;
}

.text1 {
    font-family: 'PT Sans', serif;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    color: #311F46;
}

.text2 {
    font-family: 'PT Sans', serif;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: #311F46;
}

.text3 {
    width: 250px;
    font-family: 'PT Sans', serif;
    font-size: 20px;
    font-weight: normal;
    horiz-align: center;
    text-align: center;
    color: #311F46;
}

.table_header {
    font-family: 'PT Sans', serif;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    color: #311F46;
}

.table_value {
    font-family: 'PT Sans', serif;
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    color: #311F46;
}

.error-text {
    font-family: 'PT Sans', serif;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #ff0000;
    animation: fadeMessage 1s 2s forwards;
}

.email {
    font-family: 'PT Sans', serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #311F46;
}

/*Выпадающий список для выбора формата экспорта*/
select {
    width: 85px;
    height: 30px;
    background: #482D65;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

/* Переключатель темы страницы*/
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

/* Скрытие переключателя по умолчанию */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #B4B4B4;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: #482D65;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #9702A7;
}

input:focus + .slider {
    box-shadow: 0 0 1px #9702A7;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/*Сообщения*/
.message{
    font-family: 'PT Sans', serif;
    font-size: 15px;
    font-weight: normal;
    width: 300px;
    text-decoration: none;
    text-align: center;
    word-wrap: break-word;
    padding: 5px 20px;
    color: #ffffff;
    background: #33b5e5;
    border-radius: 5px;
    display: none;
    animation: fadeMessage 2s 1s forwards;
}

/*Анимация плавного исчезновения сообщения*/
@keyframes fadeMessage {
    0% {
        opacity: 1;
        visibility: visible;
    }
    99% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 0;
    }
}