<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">

<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="/static/images/Icon_dark.png" th:href="@{/images/Icon_dark.png}">
    <link rel="stylesheet" type="text/css" media="all"
          href="/static/css/style.css" data-th-href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/js/script.js}" src="/static/js/script.js"></script>
    <title>Учетная запись</title>

    <script>
        window.onload = function () {
            //Активация меню, если кнопка есть на странице
            const menuButton = document.getElementById('menu_button');
            if (menuButton !== null) {
                menuButton.click();
            }
            //Вывод сообщения
            const message = document.getElementById("messageBlock").dataset.message;
            if (message !== undefined && message !== 'null') {
                if (message.includes("успешно")) {
                    messageOutput('info', message)
                } else {
                    messageOutput('error', message)
                }
            }
        }

        //Изменение имени пользователя при потере фокуса
        function renameUser() {
            const nameText = document.getElementById('name_input').value;
            location.href = '/account/name-change?nameText=' + nameText;
        }

        //Активация изменения имени пользователя при нажатии на Enter
        function renameUserByKeyup(event) {
            if (event.keyCode === 13) {
                const nameText = document.getElementById('name_input');
                nameText.blur();
            }
        }
    </script>
</head>

<body>
<header style="width: 100%;">
    <div>
        <img src="/static/images/logo_light.png" th:src="@{/images/logo_light.png}"
             onclick="location.href='/main'"
             alt="logo" class="logo-image"/>
    </div>
    <!--Кнопка меню-->
    <div>
        <button type="button" id="menu_button" class="menu_button" onclick="showMenu()" th:onclick="showMenu()">
            <img src="/static/images/Menu_icon.png" th:src="@{/images/Menu_icon.png}" alt="menu"
                 style="padding: 10px; width: 25px; margin-right: 10px"/>
        </button>
    </div>
</header>

<div class="div-main" onclick="hideMenu()" th:onclick="hideMenu()">
    <h1 class="page_title">Учетная запись</h1>
    <div style="display: inline-block; text-align: right;">
        <div style="margin-bottom: 20px;">
            <a class="text2">Имя</a>
            <input id="name_input" name="name" th:value="${userName}" placeholder="Имя" type="text" maxlength="25"
                   aria-label="Имя" class="input-text" onblur="renameUser()" onkeyup="renameUserByKeyup(event)">
            <img src="/static/images/Edit.png" th:src="@{/images/Edit.png}" alt="edit" style="width: 15px;"/>
        </div>
        <div style="margin-bottom: 40px; padding-right: 20px">
            <a class="text2">Email</a>
            <input name="email" th:value="${userEmail}" placeholder="Email" readonly type="text"
                   aria-label="Email" class="input-text">
        </div>
    </div>
    <div>
        <a href="/account/password-change" class="input-submit" style="font-size: 15px; padding: 10px 80px">Изменить
            пароль</a>
    </div>
    <button class="input-submit" onclick="location.href='/account/delete'"
            style="margin-top: 80px; background: red; vertical-align: center">
        <img src="/static/images/Delete.png" th:src="@{/images/Delete.png}" alt="profile picture"
             style="width: 15px; margin-right: 10px;"/>
        Удалить учетную запись
    </button>
</div>

<!--Сообщение-->
<div id="message_box" style="top: 50px; right: 5px; position: absolute; padding: 5px 0">
    <a id="messageBlock" class="message" th:data-message="${message}" style="padding: 20px"></a>
</div>

<!--Меню-->
<div id="menu_list" class="menu_list" style="top: 60px; background: #74217D">
    <div style="border-bottom: 2px solid #311F46;">
        <a th:text="${userName}"></a>
    </div>
    <div>
        <a href="/account/">
            <img src="/static/images/User_icon.png" th:src="@{/images/User_icon.png}" alt="menu"
                 style="width: 25px; margin: 10px; vertical-align: middle"/>
            Учетная запись
        </a>
    </div>
    <div>
        <a href="/diagram/list">
            <img src="/static/images/Table_icon.png" th:src="@{/images/Table_icon.png}" alt="menu"
                 style="width: 25px; margin: 10px; vertical-align: middle"/>
            Мои диаграммы
        </a>
    </div>
    <div>
        <a href="/group/list">
            <img src="/static/images/Participants.png" th:src="@{/images/Participants.png}" alt="menu"
                 style="width: 25px; margin: 10px; vertical-align: middle"/>
            Группы
        </a>
    </div>
    <div>
        <a href="/account/logout">
            <img src="/static/images/Logout_icon.png" th:src="@{/images/Logout_icon.png}" alt="menu"
                 style="width: 25px; margin: 10px; vertical-align: middle"/>
            Выход
        </a>
    </div>
</div>
</body>
</html>
