<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="ru">

<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="/static/images/Icon_dark.png" th:href="@{/images/Icon_dark.png}">
    <link rel="stylesheet" type="text/css" media="all"
          href="/static/css/style.css" data-th-href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{js/script.js}" src="/static/js/script.js"></script>
    <title>Авторизация</title>
</head>

<body>
<header style="width: 100%;">
    <div style="flex-grow: 1;">
        <img src="/static/images/logo_light.png" th:src="@{/images/logo_light.png}"
             onclick="location.href='/main'"
             alt="logo" class="logo-image"/>
    </div>
</header>

<div class="div-main">
    <h1 class="page_title">Авторизация</h1>

    <form th:action="@{/authorization/sign-in}" method="post" class="form">
        <div>
            <input name="email" th:value="${email}" placeholder="Email" required type="email" aria-label="Email"
                   class="input-text"/>
        </div>
        <div>
            <input name="password" placeholder="Пароль" required type="password" aria-label="Password"
                   class="input-text"/>
        </div>
        <a class="error-text" th:text="${result}"></a>

        <div>
            <input type="submit" value="Войти" class="input-submit"/>
        </div>
    </form>

    <p>
        <a href="/password-recovery/email" class="button1">Восстановить пароль</a>
    </p>
    <p>
        <a class="text1">Нет аккаунта?</a>
        <a href="/registration" class="button1">Зарегистрироваться</a>
        <a sec:authorize="isAuthenticated()" class="button1" sec:authentication="email"></a>
    </p>
</div>
</body>
</html>
