<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="utf-8"/>
    <title th:text="${'Диаграмма - ' + diagram.name}"></title>
    <link rel="icon" type="image/png" href="/static/images/Icon_dark.png" th:href="@{/images/Icon_dark.png}"/>

    <link rel="stylesheet" type="text/css" media="all" href="/static/css/style.css" data-th-href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/diagram_working_style.css"
          data-th-href="@{/css/diagram_working_style.css}"/>
        <!--Стили для редактора кода-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/codemirror.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/codemirror_style.css"
          data-th-href="@{/css/codemirror_style.css}"/>

    <script type="text/javascript" th:src="@{/js/script.js}" src="/static/js/script.js"></script>

    <!--Экспорт диаграммы-->
    <!--Библиотека для конвертации в png-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>
    <!--Библиотека для конвертации в pdf-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <!--Библиотека для сохранение файла-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

    <!--Библиотека для масштабирование и передвижения диаграммы-->
    <script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom/dist/svg-pan-zoom.min.js"></script>
    <!--Редактор кода-->
    <script type="module" th:src="@{/js/codemirror_script.js}" src="/static/js/codemirror_script.js"></script>
    <!--Создание диаграммы-->
    <script type="module" th:src="@{/js/create_diagram_script.js}" src="/static/js/create_diagram_script.js"></script>
    <!--Экспорт диаграммы-->
    <script type="module" th:src="@{/js/export_diagram_script.js}" src="/static/js/export_diagram_script.js"></script>
    <!--Основной скрипт-->
    <script type="module" th:src="@{/js/diagram_working_script.js}" src="/static/js/diagram_working_script.js"></script>
</head>

<body>
<header class="header1">
    <div id="header2" class="div-horizontal">
        <div class="div-horizontal" style="flex-wrap: nowrap; margin-top: 5px;">
            <img src="/static/images/Icon_dark.png" th:src="@{/images/Icon_dark.png}"
                 onclick="location.href='/main'"
                 alt="logo" style="width: 40px; margin-left: 10px"/>
            <!-- Название диаграммы -->
            <input id="diagram_name" name="diagram_name" placeholder="Название диаграммы" type="text" aria-label="Search"
                   maxlength="100" th:value="${diagram.name}"
                   th:readonly="${userName != diagram.userName && diagram.accessLevel == 'read access'}"/>
        </div>

        <div class="div-horizontal" style="flex-wrap: nowrap; margin-top: 5px">
            <!--Выпадающий список для выбора формата экспорта -->
            <div id="export_list" class="div-horizontal1">
                <img src="/static/images/Download_icon.png" th:src="@{/images/Download_icon.png}" alt="download"
                     style="width: 20px; margin-right: 10px"/>
                <label>
                    <select id="export_selector" onchange="exportDiagram()"
                            style="horiz-align: center">
                        <option value="default" hidden disabled selected>Экспорт</option>
                        <optgroup label="Как изображение">
                            <option value="pdf">PDF</option>
                            <option value="png">PNG</option>
                            <option value="svg">SVG</option>
                        </optgroup>
                        <optgroup label="Для восстановления в СУБД">
                            <option value="mssql">MS SQL Server</option>
                            <option value="postgresql">PostgreSQL</option>
                        </optgroup>
                    </select>
                </label>
            </div>
            <!-- Переключатель для выбора темы страницы -->
            <div class="div-horizontal1" style="padding: 0 5px; background: #482D65; border-radius: 5px; height: 30px; margin-right: 15px">
                <img src="/static/images/Moon_icon.png" th:src="@{/images/Moon_icon.png}" alt="theme" style="width: 30px"/>
                <form id="switch_theme" action="" method="get" class="form" style="margin: 0 5px">
                    <label class="switch">
                        <input id="checkbox_theme" type="checkbox" th:checked="${designTheme}">
                        <span class="slider round"></span>
                    </label>
                </form>
            </div>
            <!--Ссылка на документацию-->
            <div class="div-horizontal1">
                <a href="/documentation" class="input-submit" style="text-decoration: none; background: #482D65; width: auto; margin: 0 15px 0 0; padding: 5px 20px;
                font-size: 15px">Документация</a>
            </div>
        </div>
        <div class="div-horizontal" style="flex-wrap: nowrap; margin-top: 5px" th:if="${userName} == ${diagram.userName}">
            <!--Выпадающий список для выбора уровня доступа к группе-->
            <div>
                <label>
                    <select id="access_level_selector" onchange="changeDiagramAccess()" class="div-horizontal1"
                            style="margin-right: 15px; padding: 6px; width: 150px; height: auto; vertical-align: center">
                        <optgroup label="Выбор режима">
                            <option value="read access" th:selected="${diagram.accessLevel == 'read access'}">
                                Доступно для чтения</option>
                            <option value="read and write access" th:selected="${diagram.accessLevel == 'read and write access'}">
                                Доступно для чтения и редактирования</option>
                            <option value="access is closed" th:selected="${diagram.accessLevel == 'access is closed'}">
                                Доступ запрещен</option>
                        </optgroup>
                    </select>
                </label>
            </div>
            <!--Копирование ссылки-->
            <div class="div-horizontal1">
                <a id="copy_link_button" class="input-submit" style="text-decoration: none; background: #482D65; width: auto; margin: 0 15px 0 0; padding: 5px 10px;
                font-size: 15px; cursor: pointer;" onclick="copyLink()" th:onclick="copyLink()"
                   th:data-link="${diagram.connectionLink}">
                    <img src="/static/images/Link.png" th:src="@{/images/Link.png}" alt="link"
                         style="width: 15px; "/>
                    Копировать ссылку
                </a>
            </div>
            <div class="div-horizontal1">
                <a id="history_button" class="input-submit" onclick="showHistory()" th:onclick="showHistory()"
                   style="text-decoration: none; background: #482D65; width: auto; margin: 0 15px 0 0;padding: 5px 10px; font-size: 15px; cursor: pointer;">
                    <img src="/static/images/History.png" th:src="@{/images/History.png}" alt="link"
                         style="width: 15px; "/>
                    История
                </a>
            </div>
        </div>
    </div>
    <!--Кнопка меню-->
    <div th:if="${userName} != null">
        <button type="button" id="menu_button" class="menu_button" onclick="showMenu()" th:onclick="showMenu()">
            <img src="/static/images/Menu_icon.png" th:src="@{/images/Menu_icon.png}" alt="menu"
                 style="padding: 0 10px; width: 25px; margin-right: 10px"/>
        </button>
    </div>
</header>

<!--Диаграмма-->
<div id="content" onclick="hidePopupWindow()" th:onclick="hidePopupWindow()">
    <pre id="diagram" class="mermaid"></pre>
    <a id="error_text" class="error-text" style="font-size: 30px; display: none;">Ошибка в коде</a>
</div>

<!--Код диаграммы-->
<div id="sidebar" onclick="hidePopupWindow()" th:onclick="hidePopupWindow()">
    <div class="div-horizontal">
        <div style="flex-grow: 1;">
            <p class="text2" style="color: white; font-weight: bold; margin: 10px; text-align: left">Код диаграммы</p>
        </div>
        <div id="save_button_box">
            <img id="save-status-icon" src="/static/images/Save_success.png" th:src="@{/images/Save_success.png}" alt="save-status"
                 style="width: 18px; color: white;"/>
            <a id="save-button" class="input-submit" style="padding: 5px; margin-left: 5px; margin-right: 10px; cursor: pointer; background: #757575;">
                Сохранить
            </a>
        </div>
    </div>
    <div style="horiz-align: center">
        <label for="diagram_code" class="text2" style="color: white;"></label>
    </div>
    <div>
        <textarea id="diagram_code" class="input-text" th:text="${diagram.code}"></textarea>
        <div id="editor"></div>
    </div>
</div>

<!--История-->
<div id="history_list" class="history_list">
    <table style="border-spacing: 10px; width: 100%; text-align: left;">
        <thead>
        <tr>
            <th class="table_header">Имя</th>
            <th class="table_header">Дата изменения</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="diagramHistory: ${diagramHistoryList}" style="cursor: pointer;"
            onclick="rollbackHistory()" th:onclick="rollbackHistory()" th:data-version="${diagramHistory.id}">
            <td class="table_value" style="width: 180px;">
                <a style="margin: 0; text-decoration: none; word-wrap: anywhere"
                   th:text="${diagramHistory.userName}">
                </a>sdfdsfdsfsdfsdfsdssdfsdfs
            </td>
            <td class="table_value" style="" th:text="${diagramHistory.modifiedDate}">sdfsdfsd</td>
        </tr>
        </tbody>
    </table>

    <div style="width: 100%; text-align: center;">
        <a class="text2" th:text="${listInfo}" style="color: #ffffff; font-size: 15px;"></a>
    </div>
</div>

<!--Сообщение-->
<div id="message_box" style="top: 55px; right: 5px; position: absolute; padding: 5px 0">
    <a class="message"></a>
</div>

<!--Меню-->
<div id="menu_list" class="menu_list" style="top: 60px">
    <div style="border-bottom: 2px solid #74217D;">
        <a id="user-name" th:text="${userName}"></a>
    </div>
    <div>
        <a href="/account/">
            <img src="/static/images/User_icon.png" th:src="@{/images/User_icon.png}" alt="menu"
                 style="width: 25px; margin: 10px; vertical-align: middle"/>
            Учетная запись
        </a>
    </div>
    <div>
        <a href="/diagram/list">
            <img src="/static/images/Table_icon.png" th:src="@{/images/Table_icon.png}" alt="menu"
                 style="width: 25px; margin: 10px; vertical-align: middle"/>
            Мои диаграммы
        </a>
    </div>
    <div>
        <a href="/group/list">
            <img src="/static/images/Participants.png" th:src="@{/images/Participants.png}" alt="menu"
                 style="width: 25px; margin: 10px; vertical-align: middle"/>
            Группы
        </a>
    </div>
    <div>
        <a href="/account/logout">
            <img src="/static/images/Logout_icon.png" th:src="@{/images/Logout_icon.png}" alt="menu"
                 style="width: 25px; margin: 10px; vertical-align: middle"/>
            Выход
        </a>
    </div>
</div>
</body>
</html>