<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">

<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="/static/images/Icon_dark.png" th:href="@{/images/Icon_dark.png}"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="/static/css/style.css" data-th-href="@{/css/style.css}"/>

    <script type="text/javascript" th:src="@{/js/script.js}" src="/static/js/script.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            updateWindow();
            document.getElementById('menu_button').click();
        }
    </script>
    <!--Экспорт диаграммы-->
    <!--Библиотека для конвертации в png-->
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <!--Библиотека для конвертации в pdf-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

    <!--Создание диаграммы-->
    <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';

        const drawDiagram = async function () {
            const diagram = document.getElementById('diagram');
            const diagramCode = document.getElementById('diagram_code');
            const graphDefinition = getFormattedCodeForDiagram(diagramCode.value);

            const { svg } = await mermaid.render('graphDiv', graphDefinition);
            diagram.innerHTML = svg;
        };

        let theme = 'default'
        if(document.getElementById('checkbox_theme').checked){
            theme = 'dark';
        }

        document.getElementById('diagram').style.display = 'block';
        document.getElementById('error_text').style.display = 'none';
        try {
            mermaid.initialize({ startOnLoad: true, theme: theme});
            await drawDiagram();
        } catch  (err) {
            if(document.getElementById('diagram_code').value !== "") {
                document.getElementById('diagram').style.display = 'none';
                document.getElementById('error_text').style.display = 'block';
            } else {
                document.getElementById('diagram').style.display = 'none';
                document.getElementById('error_text').style.display = 'none';
            }
        }
    </script>

    <title th:text="${diagramName}"></title>
</head>

<body>
<header class="header1">
    <div class="div-horizontal1">
        <img src="/static/images/Icon_dark.png" th:src="@{/images/Icon_dark.png}"
             onclick="location.href='/'"
             alt="logo" style="width: 40px; margin-left: 15px"/>
        <!-- Название диаграммы -->
        <input id="diagram_name" name="diagram_name" placeholder="Название диаграммы" required
               type="text" aria-label="Search" maxlength="100"
               th:value="${diagramName}" th:onblur="saveName()"
        />
        <!--Выпадающий список для выбора формата экспорта -->
        <div class="div-horizontal2">
            <img src="/static/images/Download_icon.png" th:src="@{/images/Download_icon.png}" alt="download"
                 style="width: 20px; margin-right: 10px"/>
            <label>
                <select id="export" onchange="exportDiagram()"
                        style="horiz-align: center">
                    <option value="default" hidden disabled selected>Экспорт</option>
                    <optgroup label="Как изображение">
                        <option value="pdf">PDF</option>
                        <option value="png">PNG</option>
                        <option value="svg">SVG</option>
                    </optgroup>
                    <optgroup label="Для восстановления в СУБД">
                        <option value="mssql">MS SQL Server</option>
                        <option value="postgresql">PostgreSQL</option>
                    </optgroup>
                </select>
            </label>
        </div>
        <!-- Переулючатель для выбора темы страницы -->
        <div class="div-horizontal1" style="padding: 0 5px; background: #482D65; border-radius: 5px; height: 30px;">
            <img src="/static/images/Moon_icon.png" th:src="@{/images/Moon_icon.png}" alt="theme" style="width: 30px"/>
            <form action="" method="get" class="form" style="margin: 0 5px"
                  th:onclick="saveTheme()" onclick="saveTheme()">
                <label class="switch">
                    <input id="checkbox_theme" type="checkbox" th:checked="${designTheme}">
                    <span class="slider round"></span>
                </label>
            </form>
        </div>
        <!--Ссылка на документацию-->
        <div>
            <a href="/documentation" class="input-submit" style="text-decoration: none; background: #482D65; width: auto; margin: 0 10px; padding: 5px 20px;
        vertical-align: middle; font-size: 15px">Документация</a>
        </div>
    </div>
    <!--Кнопка меню-->
    <div>
        <button type="button" id="menu_button" class="menu_button" onclick="showMenu()" th:onclick="showMenu()">
            <img src="/static/images/Menu_icon.png" th:src="@{/images/Menu_icon.png}" alt="menu"
                 style="padding: 10px; width: 25px; margin-right: 10px"/>
        </button>
    </div>
</header>

<!--Диаграмма-->
<div id="content" onclick="hideMenu()" th:onclick="hideMenu()">
    <pre id="diagram" class="mermaid" style="overflow: auto"></pre>
    <a id="error_text" class="error-text" style="font-size: 30px; display: none;">Ошибка в коде</a>
</div>

<!--Код диаграммы-->
<div id="sidebar" onclick="hideMenu()" th:onclick="hideMenu()">
    <div class="div-horizontal1">
        <div style="flex-grow: 1;">
            <p class="text2" style="color: white; font-weight: bold; margin: 10px; text-align: left">Код диаграммы</p>
        </div>
    </div>
    <div style="horiz-align: center">
        <label for="diagram_code" class="text2" style="color: white;"></label>
    </div>
    <div>
        <textarea id="diagram_code" class="input-text" th:text="${diagramCode}" th:onblur="saveCode()"
                  style="width: 287px; min-width: 287px; max-width: 1200px; min-height: 600px; background: #311F46;
                  color: white; font-size: 16px; margin: 0 5px; white-space: pre-wrap"></textarea>
    </div>
</div>

<!--Меню-->
<div id="menu_list" class="menu_list">
    <div style="border-bottom: 2px solid #74217D;">
        <a th:text="${userEmail}"></a>
    </div>
    <div>
        <a href="/user/account">
            <img src="/static/images/User_icon.png" th:src="@{/images/User_icon.png}" alt="menu"
                 style="width: 25px; margin: 10px; vertical-align: middle"/>
            Учетная запись
        </a>
    </div>
    <div>
        <a href="/user/diagram/list">
            <img src="/static/images/Table_icon.png" th:src="@{/images/Table_icon.png}" alt="menu"
                 style="width: 25px; margin: 10px; vertical-align: middle"/>
            Мои диаграммы
        </a>
    </div>
    <div>
        <a href="/logout">
            <img src="/static/images/Logout_icon.png" th:src="@{/images/Logout_icon.png}" alt="menu"
                 style="width: 25px; margin: 10px; vertical-align: middle"/>
            Выход
        </a>
    </div>
</div>
</body>
</html>