<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"

      lang="ru">

    <head>
        <meta charset="utf-8"/>
        <link rel="icon" type="image/png" href="/static/images/Icon_dark.png" th:href="@{/images/Icon_dark.png}">
        <link rel="stylesheet" type="text/css" media="all"
              href="/static/css/style.css" data-th-href="@{/css/style.css}" />
        <script type="text/javascript" th:src="@{js/script.js}" src="/static/js/script.js"></script>
        <title>Создание диаграммы</title>
    </head>

    <body>
        <header>
            <div style="flex-grow: 1;">
                <img src="/static/images/logo_light.png" th:src="@{/images/logo_light.png}"
                     onclick="location.href='/'"
                     alt="logo" class="logo-image"/>
            </div>
        </header>

        <div class="div-main">
            <h1 class="page_title">Создание диаграммы</h1>

            <form action="/user/diagram/list/create/do" method="post" class="form">
                <div>
                    <a class="text2">Название</a>
                    <input name="name" placeholder="Название" required type="text" aria-label="Name" class="input-text"
                           maxlength="100"/>
                </div>

                <div>
                    <input type="submit" value="Продолжить" class="input-submit"/>
                </div>
            </form>
        </div>
    </body>
</html>
