<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">

<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="/static/images/Icon_dark.png" th:href="@{/images/Icon_dark.png}"/>

    <link rel="stylesheet" type="text/css" media="all" href="/static/css/style.css" data-th-href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/documentation_style.css"
          data-th-href="@{/css/documentation_style.css}"/>

    <script type="text/javascript" th:src="@{/js/script.js}" src="/static/js/script.js"></script>
    <title>Документация</title>
</head>

<body>
<header style="border-bottom: 1px solid #311F46; ">
    <div style="flex-grow: 1;">
        <img src="/static/images/logo_light.png" th:src="@{/images/logo_light.png}"
             onclick="location.href='/main'"
             alt="logo" class="logo-image"/>
    </div>
    <div>
        <input id="search_input" placeholder="Поиск" required type="text" aria-label="Search"
               oninput="searchText()" th:oninput="searchText()"
               class="input-text" maxlength="100" style="width: 300px; horiz-align: left; float: left;
                                         padding-left: 25px;
                                         background: url(/images/Search_Icon.png) no-repeat left;
                                         background-size: 20px;"
        />
    </div>
    <!--Кнопка меню-->
    <div th:if="${userName} != null">
        <button type="button" id="menu_button" class="menu_button" onclick="showMenu()" th:onclick="showMenu()">
            <img src="/static/images/Menu_icon.png" th:src="@{/images/Menu_icon.png}" alt="menu"
                 style="padding: 10px; width: 25px; margin-right: 10px"/>
        </button>
    </div>
</header>

<div id="sidebar" class="doc_menu" onclick="hideMenu()" th:onclick="hideMenu()">
    <p class="text2" style="color: white; font-weight: bold">Документация</p>
    <a href="#Description">Описание</a><br/><br/>
    <a href="#Syntax">Синтаксис описания диаграмм</a><br/><br/>
    <a href="#Import">Импорт диаграммы</a><br/><br/>
    <a href="#Export">Экспорт диаграммы</a><br/><br/>
    <a href="#Group">Работа в группах</a><br/><br/>
</div>

<div id="content" onclick="hideMenu()" th:onclick="hideMenu()">
    <div id="searchResults"></div>
    <h1 id="Title" style="font-size: 50px">ER-diagram Studio</h1>
    <h2 id="Description">Описание</h2>
    <p>Er-diagram Studio - это средство для проектирования схем реляционных баз данных.
        Его целью является упрощение работы с ER-диаграммами на этапе планирования и
        разработки баз данных.</p>
    <p>ER-diagram Studio позволяет:</p>
    <ul>
        <li>создавать и редактировать ER-диаграммы при помощи кода описания диаграмм;</li>
        <li>хранить все необходимые ER-диаграммы в одном месте с возможностью удаления;</li>
        <li>загружать скрипты восстановления баз данных для создания диаграммы;</li>
        <li>скачивать ER-диаграммы в удобном формате представления изображения;</li>
        <li>выгружать скрипты восстановления баз данных для продолжения работы в выбранной СУБД;</li>
        <li>объединяться с другими пользователями в группы для совместной работы.</li>
    </ul>
    <h2 id="Syntax">Синтаксис описания диаграмм</h2>
    <p>ER-диаграмма - это схематическое представление структуры базы данных, которое
        отображает сущности, их атрибуты и связи между ними.
        ER-диаграмма помогает визуализировать и описать структуру информации,
        которая будет храниться в базе данных.</p>
    <p><b>Таблицы</b> диаграммы представляют сущности базы данных. Для того, чтобы
        создать таблицу на диаграмме, необходимо указать ее название.</p>
    <p><b>Атрибуты</b> сущности, описывающие ее характеристики должны быть
        заключены в фигурные скобки:
        <mark> { </mark>
        <mark> } </mark>.
        Для определения атрибутов необходимо указать их имя, тип и возможность
        значения атрибута быть незаполненным:
        <mark> "not null"</mark>.
        Также при описании атрибута можно указать, что он является первичным ключом
        сущности:
        <mark> "PK"</mark>.
    </p>
    <p><b>Связи</b> между сущностями на диаграмме представлены линиями между таблицами.
        Связи могут быть 3 типов:</p>
    <ol>
        <li>"Один ко многим" -
            <mark> < </mark>;
        </li>
        <li>"Один к одному" -
            <mark> - </mark>;
        </li>
        <li>"Многие ко многим" - на диаграмме реализуется при помощи вспомогательной таблицы.
    </ol>
    <p>Для создания связи необходимо указать:
        <br>
        <mark> ref:</mark>
        название таблицы с внешним ключом
        <mark></mark>
        тип связи (
        <mark> < </mark>
        или
        <mark> - </mark>)
        название таблицы с первичным ключом.
    </p>
    <p>Сама связь должна находиться в строке с внешним ключом. После типа атрибута
        по порядку указываются
        <mark> [PK, ref:..., not null]</mark>.
    </p>
    <p><b>Пример описания диаграммы в коде:</b></p>
    <p style="white-space: pre;">   table1 {
        t1_field1 bigserial [PK, not null]
        t1_field2 bigint
        t1_field3 varchar(250) [not null]
        t1_field4 bigint
    }
    table2 {
        t2_field1 bigserial [PK, not null]
        t2_field2 bigint
        t2_field3 timestamp [not null]
        t2_field4 bigint
        t2_field5 varchar(10)
    }
        table3 {
        t3_field1 bigserial [PK, not null]
        t1_id bigint [PK, ref: table3 < table1]
        t2_id bigint [PK, ref: table3 < table2]
    }</p>
    <p>В коде описана реализация связи "многие ко многим" между таблицами table1 и table2
        при помощи вспомогательной таблицы table3.</p>
    <h2 id="Import">Импорт диаграммы</h2>
    <p>ER-diagram Studio предоставляет возможность создать диаграмму путем загрузки
        файла со скриптом создания базы данных. Для импорта доступны скрипты
        создания из СУБД Microsoft SQL Server и PostgreSQL.</p>
    <p>После загрузки файла система представит ER-диаграмму, построенную
        на основе структуры из скрипта.</p>
    <h2 id="Export">Экспорт диаграммы</h2>
    <p>Созданную диаграмму пользователь может сохранить локально на своем устройстве.</p>
    <p>Для скачивания диаграммы в виде изображения доступны форматы:</p>
    <ul>
        <li>PDF;</li>
        <li>PNG;</li>
        <li>SVG.</li>
    </ul>
    <p>Также есть возможность выгрузить структуру диаграммы в виде файла со
        скриптом для создания базы данных при дальнейшей работе.</p>
    <h2 id="Group">Работа в группах</h2>
    <p>После создания группы владелец группы получает доступ к возможностям:</p>
    <ul>
        <li>изменения названия и уровня доступа, удаления группы;</li>
        <li>копирования ссылки для приглашения пользователей в группу;</li>
        <li>изменения роли и удаления участников;</li>
        <li>взаимодействия со всеми диаграммами группы.</li>
    </ul>
    <p>У пользователей, которые присоединились к группе, есть 2 роли: участник и администратор.<br>
        Участник может взаимодействовать со своими диаграммами и просматривать список всех участников группы.<br>
        Администратору помимо возможностей стандартного участника доступно взаимодействие с диграммами других пользователей.
    </p>
</div>

<!--Меню-->
<div id="menu_list" class="menu_list" style="top: 85px; right: 15px; background: #74217D">
    <div style="border-bottom: 2px solid #311F46;">
        <a th:text="${userName}"></a>
    </div>
    <div>
        <a href="/account/">
            <img src="/static/images/User_icon.png" th:src="@{/images/User_icon.png}" alt="menu"
                 style="width: 25px; margin: 10px; vertical-align: middle"/>
            Учетная запись
        </a>
    </div>
    <div>
        <a href="/diagram/list">
            <img src="/static/images/Table_icon.png" th:src="@{/images/Table_icon.png}" alt="menu"
                 style="width: 25px; margin: 10px; vertical-align: middle"/>
            Мои диаграммы
        </a>
    </div>
    <div>
        <a href="/group/list">
            <img src="/static/images/Participants.png" th:src="@{/images/Participants.png}" alt="menu"
                 style="width: 25px; margin: 10px; vertical-align: middle"/>
            Группы
        </a>
    </div>
    <div>
        <a href="/account/logout">
            <img src="/static/images/Logout_icon.png" th:src="@{/images/Logout_icon.png}" alt="menu"
                 style="width: 25px; margin: 10px; vertical-align: middle"/>
            Выход
        </a>
    </div>
</div>
</body>
</html>