<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">

<head>
    <meta charset="utf-8"/>
    <title th:text="${'Группа ' + group.name + ' - диаграммы'}"></title>
    <link rel="icon" type="image/png" href="/static/images/Icon_dark.png" th:href="@{/images/Icon_dark.png}"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="/static/css/style.css" data-th-href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/js/script.js}" src="/static/js/script.js"></script>
    <script type="text/javascript" th:src="@{/js/group_script.js}" src="/static/js/group_script.js"></script>
</head>

<body>
<header style="width: 100%;">
    <div style="flex-grow: 1;">
        <img src="/static/images/logo_light.png" th:src="@{/images/logo_light.png}"
             onclick="location.href='/main'"
             alt="logo" class="logo-image"/>
    </div>
    <!--Кнопка меню-->
    <div th:if="${userName} != null">
        <button type="button" id="menu_button" class="menu_button" onclick="showMenu()" th:onclick="showMenu()">
            <img src="/static/images/Menu_icon.png" th:src="@{/images/Menu_icon.png}" alt="menu"
                 style="padding: 10px; width: 25px; margin-right: 10px"/>
        </button>
    </div>
</header>

<div class="div-main" style="margin: 60px auto;" onclick="hideMenu()" th:onclick="hideMenu()">
    <div>
        <label>
            <input id="name_input" class="input-text" maxlength="100"
                   style="width: 400px; font-size: 23px; margin: 20px; text-align: center; border: 2px solid rgba(116,33,125,0.5);"
                   onblur="renameGroup()" onkeyup="renameGroupByKeyup(event)"
                   th:value="${group.name}" th:readonly="${userName} != ${group.userName}"/>
            <img src="/static/images/Edit.png" th:src="@{/images/Edit.png}" alt="edit"
                 style="width: 15px;" th:if="${userName} == ${group.userName}"/>
        </label>
    </div>
    <div>
        <a class="text2">Диаграммы</a>
    </div>

    <div style="width: max-content; max-width: 100%; display: inline-block;">
        <div class="div-horizontal" style="margin-top: 40px;">
            <div style="flex-grow: 1; margin-bottom: 15px">
                <input id="search_input" placeholder="Поиск" required type="text" aria-label="Search"
                       th:onblur="search()" onkeyup="searchByKeyup(event)" th:value="${searchText}"
                       class="input-text" maxlength="100" style="width: 400px; horiz-align: left; float: left;
                   padding-left: 25px; background: url(/images/Search_Icon.png) no-repeat left;
                   background-size: 20px;"
                />
            </div>
            <div style="margin-bottom: 15px">
                <a th:href="@{'/group/' + ${group.id} + '/participant/list'}" href="/diagram/list/import" class="input-submit"
                   style="margin: 0; width: auto; vertical-align: center">
                    <img src="/static/images/Participants.png" th:src="@{/images/Participants.png}" alt="upload"
                         style="width: 15px; margin: 0 5px"/>
                    Участники
                </a>
                <a th:href="@{'/diagram/list/import/?groupId=' + ${group.id}}" class="input-submit"
                   style="margin: 0 10px; width: auto; vertical-align: center">
                    <img src="/static/images/Upload_Icon.png" th:src="@{/images/Upload_Icon.png}" alt="upload"
                         style="width: 15px; margin: 0 5px"/>
                    Импорт
                </a>
                <a th:href="@{'/diagram/list/create/?groupId=' + ${group.id}}" class="input-submit"
                   style="margin: 0; width: auto; vertical-align: center">
                    <img src="/static/images/Create_Icon.png" th:src="@{/images/Create_Icon.png}" alt="create"
                         style="width: 15px; margin: 0 5px;"/>
                    Создать диаграмму
                </a>
            </div>
        </div>

        <div style="overflow: auto">
            <table style="border-spacing: 15px; width: 100%; text-align: left;">
                <thead>
                <tr>
                    <th class="table_header">Название</th>
                    <th class="table_header">Владелец</th>
                    <th class="table_header">Дата изменения</th>
                    <th class="table_header">Дата создания</th>
                    <th class="table_header"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="diagram: ${diagramList}">
                    <td class="table_value" style="width: max-content; max-width: 350px;">
                        <a style="margin: 0; text-decoration: none; color: #9702A7; word-wrap: anywhere"
                           th:href="@{'/diagram/' + ${diagram.id}}" th:text="${diagram.name}">
                        </a>
                    </td>
                    <td class="table_value" th:text="${diagram.userName}" style="width: max-content; max-width: 350px; word-wrap: anywhere"></td>
                    <td class="table_value" th:text="${diagram.modifiedDate}"></td>
                    <td class="table_value" th:text="${diagram.creationDate}"></td>
                    <td class="ref_menu" style="text-align: right">
                        <a style="color: red; font-size: 15px; margin: 0"
                           th:href="@{'/group/' + ${group.id} + '/diagram/list/delete/' + ${diagram.id}}">
                            Удалить
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div style="margin: 10px">
        <a class="text2" th:text="${listInfo}" style="color: #9702A7"></a>
    </div>
</div>

<!--Меню-->
<div id="menu_list" class="menu_list" style="top: 60px; background: #74217D">
    <div style="border-bottom: 2px solid #311F46;">
        <a th:text="${userName}"></a>
    </div>
    <div>
        <a href="/account/">
            <img src="/static/images/User_icon.png" th:src="@{/images/User_icon.png}" alt="menu"
                 style="width: 25px; margin: 10px; vertical-align: middle"/>
            Учетная запись
        </a>
    </div>
    <div>
        <a href="/diagram/list">
            <img src="/static/images/Table_icon.png" th:src="@{/images/Table_icon.png}" alt="menu"
                 style="width: 25px; margin: 10px; vertical-align: middle"/>
            Мои диаграммы
        </a>
    </div>
    <div>
        <a href="/group/list">
            <img src="/static/images/Participants.png" th:src="@{/images/Participants.png}" alt="menu"
                 style="width: 25px; margin: 10px; vertical-align: middle"/>
            Группы
        </a>
    </div>
    <div>
        <a href="/account/logout">
            <img src="/static/images/Logout_icon.png" th:src="@{/images/Logout_icon.png}" alt="menu"
                 style="width: 25px; margin: 10px; vertical-align: middle"/>
            Выход
        </a>
    </div>
</div>
</body>
</html>
